body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
}

.calculator {
  background: gray;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  width: 380px;
}

#display {
  width: 22.5rem;
  height: 60px;
  font-size: 1.8em;
  text-align: right;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: #1f1f1f;
  color: #0f0;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 1.5em;
  padding: 20px;
  border: none;
  border-radius: 10px;
  background: #2e2e2e;
  color: white;
  transition: background 0.2s;
  cursor: pointer;
}

button:hover {
  background:rgb(70, 151, 70)
}